/gitignore
.idea
.vscode

/**
     * User credentials:
     *  email: lola@lol.com
     *  password: 123
     *
     *  Admin credentials:
     *  email: admin@onlinestore.se
     *  password: 1234
     * **/